

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}


.titulo{
    background-color: #002299;
    border-radius: 5px;
    color: white;
    width: 342px; 
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.titulo2{
    background-color: #94CA81;
    border-radius: 5px;
    color: white;
    width: 342px; 
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoTitulo {
    font-size: 16px; 
    font-weight: 700, bold;
    line-height: 19.36px;
    padding: 10px;
}

.lista{
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    padding: 15px;
    margin-bottom: 50px;

}

.lista li a {
    text-decoration: none;
}

.lista .textoLista2{
    color:#94CA81;
} 

.lista .textoLista1{
    color:#002299;
} 



.imagenes1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.canva{
    margin-top: 50px;
    width: 100%;
}


.imagenes2{
    margin-top: 90px;
}



.presentacion{
    margin-top: 150px;
    margin-bottom: 130px;
}

.presentacion h5{
    color:#206F05;
    font-size: 22px;
    font-weight: 700;
  
}

.presentacion img{
    width: 100%;
}

.leads{
    margin-bottom: 200px;
    font-family: inherit;
    
}

.leads h5{
    font-size: 20px;
    font-weight: 700;
}

.leads p{
    font-weight: 400;
    font-size: 20px;
    color: #002299;
}

.leads i a {
    font-weight: 400;
    font-size: 20px;
    color: #002299;
    font-family: Roboto;
}

.leads img{
    width: 100%;
}

footer{
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

